<div class="container d-flex justify-content-center m-2">
  <input
    type="text"
    class="form-control m-2"
    placeholder="Enter Task Title"
    [(ngModel)]="newTaskTitle"
  />
  <button class="btn btn-outline-dark btn-block" (click)="addTask()">
    Add task
  </button>
</div>
@for (task of tasks; track $index) {

<div class="container d-flex justify-content-left m-2">
  <ul class="m-2">
    <li>{{ task.title }}</li>
  </ul>
  <button class="btn btn-danger" (click)="deleteTask(task.id)">Delete</button>
</div>
}
